.root {
  border: none;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background: none;
  box-shadow: 0 0 20px #03A9F4;
  position: relative;
  cursor: pointer;
  transition: all .1s;
  outline: none;
  background: #292929;
  &:hover {
    animation: neonBtb .3s ease-in-out;
  }
}

.play {
  width: 200px;
  height: 200px;
  margin: 0 20px;
  &::before {
    content: '';
    position: absolute;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 90px solid #03a9f49c;
    left: 65px;
    top: 50%;
    transform: translateY(-50%);
    @media screen and (max-width: 600px) {
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-left: 60px solid #03a9f49c;
      left: 37px;
    }
  }
  @media screen and (max-width: 600px) {
    width: 120px;
    height: 120px;
    margin: 0 15px;
  }
}


// Animation
@keyframes neonBtb {
  0% {
    box-shadow: 0 0 20px #03A9F4;
  }
  50% {
    box-shadow: 0 0 30px #03A9F4;
  }
  100% {
    box-shadow: 0 0 20px #03A9F4;
  }
}