.play 
  border: navajowhite
  border-radius: 50%
  width: 200px
  height: 200px
  background: none
  box-shadow: 0 0 20px #03A9F4
  position: relative
  cursor: pointer
  transition: all .1s
  outline: none
  margin: 0 20px
  @media screen and (max-width: 600px) 
    width: 120px
    height: 120px
    margin: 0 15px
  &:hover
    animation: neonBtb .3s ease-in-out
    .play__ico
      animation: neonIco .3s ease-in-out
      &::after
        animation: neonTriangle .3s ease-in-out
  &__ico 
    width: 140px
    height: 140px
    position: absolute
    overflow: hidden
    left: 82px
    box-shadow: 0 18px 10px -17px #03A9F4
    display: block
    top: 50%
    transform: rotate(90deg) translateX(-50%)
    @media screen and (max-width: 600px) 
      width: 100px
      height: 100px
      left: 50px
    &::after
      content: ""
      position: absolute
      width: 75px
      height: 75px
      background: none
      transform: rotate(45deg)
      top: 104px
      left: 32px
      box-shadow: -1px -1px 16px 0px #03A9F4
      @media screen and (max-width: 600px) 
        width: 45px
        height: 45px
        top: 78px
        left: 28px

// Animation
@keyframes neonBtb
  0%
    box-shadow: 0 0 20px #03A9F4
  50%
    box-shadow: 0 0 30px #03A9F4
  100%
    box-shadow: 0 0 20px #03A9F4

@keyframes neonIco
  0%
    box-shadow: 0 18px 10px -17px #03A9F4
  50%
    box-shadow: 0 18px 20px -17px #03A9F4
  100%
    box-shadow: 0 18px 10px -17px #03A9F4

@keyframes neonTriangle
  0%
    box-shadow: -1px -1px 16px 0px #03A9F4
  50%
    box-shadow: -1px -1px 26px 0px #03A9F4
  100%
    box-shadow: -1px -1px 16px 0px #03A9F4